.intake-container {
  width: 100%;
}

.intake-record {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.intake-record input[type="text"],
.intake-record input[type="time"] {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.intake-record label {
  font-size: 14px;
  width: 8%;
  margin-right: 0.2rem;
}

.intake-record-selected {
  width: 5% !important;
}
.intake-record-dropdown {
  width: 65% !important;
  margin: 0rem 0.3rem;
}

.intake-record-time {
  width: 25% !important;
}

.intake-record-remove {
  width: 5% !important;
}

.intake-record-remove img {
  height: 1rem;
  filter: invert(31%) sepia(20%) saturate(280%) hue-rotate(346deg) brightness(92%) contrast(85%);
}

.intake-record-dropdown .dropdown-header {
    padding: 0.25rem 1rem;
}

.intake-button-group {
    display: flex;
    gap: 0.25rem;
    margin-top: 1.75rem;
}

.add-intake-btn {
  background: #ffffff !important;
  color: #321313 !important;
  font-weight: 500 !important;
  border: 0.1rem solid #321313 !important;
}

.intake-record input[type=time] {
    border-radius: 3rem;
    border: 0.15rem solid #6f4e36;
    color: #6f4e36;
    padding: 0.25rem 0.2rem;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.intake-edit-container hr {
  margin-bottom: 1rem;
}

.intake-button-group-edit {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.edit-add-intake-btn, .edit-add-intake-btn:hover {
    background: #f4991b;
    font-size: 0.8rem;
    padding: 0.45rem 1rem;
    margin: 0;
}

.intake-button-group-edit p {
    margin: 0;
    font-size: 0.6rem;
    color: #785f5a;
    font-weight: 300;
}
