.numeric-slider {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}

.numeric-slider input {
  height: 0px;
  padding: 0px;
  border-radius: 0px;
  border: 0.15rem solid #e0e0e0;
}

.numeric-slider input::-webkit-slider-runnable-track {
    height: 10px;
    background: repeating-linear-gradient(to right, #e0e0e0, #e0e0e0 1px, transparent 1px, transparent 10%);
    border-radius: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 0.2rem solid #6f4e36;
  cursor: pointer;
}

.slider-value {
  font-size: 0.75rem;
  width: 5rem;
  font-weight: 900;
  color: #6f4e36;
}
